<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774062290434-ud4k01e4m57ohbshiprf8kkbk9efg05i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774062290434-ud4k01e4m57ohbshiprf8kkbk9efg05i</string>
	<key>API_KEY</key>
	<string>AIzaSyCbILy_WE_6zaMA-JdPM3_sKJmRfOjAxNE</string>
	<key>GCM_SENDER_ID</key>
	<string>774062290434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MJA.SpotifyLogin</string>
	<key>PROJECT_ID</key>
	<string>loginauth-48a60</string>
	<key>STORAGE_BUCKET</key>
	<string>loginauth-48a60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774062290434:ios:e6f30e13d4832bca33591b</string>
</dict>
</plist>